*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

*.jks
*.keystore
*.pk8
*.pem
google-services.json

# IDE settings
.idea/
*.iws
out/

Thumbs.db

*.log
